* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    /* border: 1px solid black; */
    width: 1200px;
    margin: auto;
    padding: 20px;
}

.todo-heading {
    text-align: center;
    font-size: 52px;
    text-transform: uppercase;
}

form {
    /* border: 1px solid red; */
    /* text-align: center; */
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input {
    font-size: 24px;
    padding: 0px;
    margin: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    border: 0px;
    background-color: rgb(0, 110, 0);
    color: white;
    border: 1px solid #ccc;
    /* height: 28px; */
    font-size: 20px;
    border-radius: 5px;
    padding: 2px 10px;
    font-weight: bold;
}

.taskList {
    margin-top: 40px;
    font-size: 20px;
}

.taskList li {
    list-style: none;
    margin-top: 10px;
    border-bottom: 1px solid rgb(154, 154, 154);
    padding: 10px;
}

.task-item {
    display: flex;
    justify-content: space-between;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover{
    background-color: rgb(255, 255, 191);
}