<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <h1>Todo List-3</h1>

    <ul>
        {{#each arr as |d|}}
        <li>{{d}}</li>
        {{/each}}
    </ul>

</body>

</html>